h1 {
    color: cornflowerblue
}

.centered {
    display: table;
    margin: 0 auto;
}

.formatted_table tr:nth-child(even) {
    background-color: lightcyan;
}

.formatted_table tr:nth-child(odd) {
    background-color: lavender;
}

.formatted_table th {
    text-align: left;
}